# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA Files
.idea/

# Mac OS Files
.DS_Store

# Compiled/Build Outputs
build/
out/
target/

# Log Files
*.log